* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    justify-content: center;
}

#chat-image-box {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 15vh;
    max-width: 10vw;
}

#chat-container {
    display: grid;
    justify-content: center;
    margin: 45px;
}


#chat-container li {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    border-color: rgb(0, 0, 0) rgb(255, 0, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    max-width: 33vw;
}

header {
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-color: lightgoldenrodyellow;
}

#user-input {
    display: flex;
    max-width: 100vw;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.message-content {
    color: black;
}

.profile-name-display {
    color: green;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#real-time {
    color: #FFF;
background-color: #e0eaf7;
text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}


